/* Nav.scss */
.tab_bar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #c1c1c1;
  background-color: #f7f7f7;
  padding: 10px 0px 5px;
  & a {
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #c1c1c1;
    transform: scale(1);
    transition: transform 500ms linear 0s;
  }
  & a:hover {
    transform: scale(1.1);
  }
  & i {
    font-size: 24px;
    margin-bottom: 5px;
  }
  & span {
    font-size: 10px;
  }
  & .active {
    color: #532727;
  }
}
